{% extends "base.html" %}

{% block content %}
    <main class="content">
        <div class="container">
            {% if all_songs["easy_songs"] %}
                <h3>Easy difficulty Songs:</h3>
                <div class="slideshow songlist">
                    {% for id, song_values in all_songs["easy_songs"].items() %}
                        <ol>
                            <a href="/song/{{ id }}">{{ song_values['name'] }}</a>
                            <span class="music-style {{ song_values['background_color'] }}">{{ song_values['style'] }}</span>
                        </ol>
                    {% endfor %}
                </div>
            {% endif %}

            {% if all_songs["medium_songs"] %}
                <h3>Medium difficulty Songs:</h3>
                <div class="slideshow songlist">
                    {% for id, song_values in all_songs["medium_songs"].items() %}
                        <ol>
                            <a href="/song/{{ id }}">{{ song_values['name'] }}</a>
                            <span class="music-style {{ song_values['background_color'] }}">{{ song_values['style'] }}</span>
                        </ol>
                    {% endfor %}
                </div>
            {% endif %}

            {% if all_songs["hard_songs"] %}
                <h3>Hard difficulty Songs:</h3>
                <div class="slideshow songlist">
                    {% for id, song_values in all_songs["hard_songs"].items() %}
                        <ol>
                            <a href="/song/{{ id }}">{{ song_values['name'] }}</a>
                            <span class="music-style {{ song_values['background_color'] }}">{{ song_values['style'] }}</span>
                        </ol>
                    {% endfor %}
                </ol>
            {% endif %}
        </div>
    </main>
{% endblock %}
