<!doctype html>
<html lang="en">
<head>
    <title>Eletronic keyboard online</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A simple eletronic keyboard page">
</head>
<body>
<div class="container">
    <div class="row">
        <div>
            <h3>Live Streaming</h3>
            <img alt="image with contours" src="{{ url_for('get_contours_image') }}">
        </div>
    </div>
</div>
</body>
</html>